html, body {
    height: 100%;
    margin: 0;
    overflow: hidden;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    font-size: 16px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    box-sizing: border-box;
}

header {
    background-color: #333;
    color: white;
    padding: 15px;
    text-align: center;
    width: 100%;
}

h1 {
    margin: 0;
    font-size: 2.5em;
}

nav {
    background-color: #333;
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
}

nav li {
    margin: 0 15px;
}

nav a {
    text-decoration: none;
    color: white;
    padding: 10px 15px;
    display: inline-block;
}

nav a:hover {
    background-color: #555;
}

.add-button, .back-button, button[type='submit'], .edit-button, .delete-button, .update-button, .create-button {
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    color: white;
    display: inline-block;
}
.update-button {
    background-color: #17a2b8;
    color: white;
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    display: inline-block;
}

.update-button:hover {
    background-color: #138496;
}

.add-button {
    background-color: #007bff;
}

.back-button {
    background-color: #28a745;
}

.edit-button {
    background-color: #ffc107; /* Жовтий для редагування */
}

.delete-button {
    background-color: #dc3545; /* Червоний для видалення */
}

.update-button {
    background-color: #17a2b8; /* Бірюзовий для оновлення */
}

.create-button {
    background-color: #007bff; /* Синій для створення */
}

.add-button:hover {
    background-color: #0056b3;
}

.back-button:hover {
    background-color: #218838;
}

.edit-button:hover {
    background-color: #e0a800; /* Темніший жовтий для редагування */
}

.delete-button:hover {
    background-color: #c82333; /* Темніший червоний для видалення */
}

.update-button:hover {
    background-color: #138496; /* Темніший бірюзовий для оновлення */
}

.create-button:hover {
    background-color: #0056b3; /* Темніший синій для створення */
}

footer {
    text-align: center;
    padding: 15px;
    background-color: #333;
    color: white;
    width: 100%;
    margin-top: auto;
}
